<!DOCTYPE html>
<html>
    <head>
        {{ if not (eq .Title.Position 2) -}}
            {{- if eq .Title.Position 0 -}}{{/* Left Position */}}
            <title>{{ .Title.Name }} {{ .Title.Separator }} {{ .Slug }}</title>
            {{- else -}}{{/* Right Position */}}
            <title>{{ .Slug }} {{ .Title.Separator }} {{ .Title.Name }}</title>
            {{- end -}}
        {{- else -}}{{/* Position None */}}
            <title>{{ .Slug }}</title>
        {{- end }}
    </head>
    <body>
        <p>{{ .Content }}</p>
    </body>
</html>

{{ define "Link" }}
    <a href="{{.}}">{{.}}</a>
{{ end }}
